$base-color-bg: rgba(0, 0, 0, 1);
$base-color-txt: rgba(255, 255, 255, 1);
$base-font-size: 62.5%;

$emoi-font-size: 4rem;

$link-font-size: 2rem;
$link-color-txt: rgba(0, 0, 0, 1);
$link-color-phase1: rgba(254, 210, 48, 1);
$link-color-phase2: rgba(255, 193, 48, 1);
$link-color-phase3: rgba(255, 176, 48, 1);
$link-color-phase4: rgba(254, 159, 48, 1);
